@keyframes liquidGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-liquid-text {
  background-size: 200% auto;
  animation: liquidGradient 4s linear infinite;
}
@keyframes subtleFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-subtle-float {
  animation: subtleFloat 6s ease-in-out infinite;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.animate-bg-zoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}

.no-scroll {
  overflow: hidden;
}
